html,
body,
#root,
.app {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background: #b0ffdc;
  flex: 1;
  > * {
    margin: 40px;
    background: #ffffff;
  }
}

main {
  width: 70%;
}
.playerList {
  flex: 1;

  h3 {
    background: #00ff66;
    padding: 20px 0px;
    text-align: center;
  }
  ol {
    list-style-position: inside;
    li {
      padding: 7px;
    }
  }
}
